wsdl-connector/src/main/resources/wsdl-connector-1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 * Copyright (c) 2011 Evolveum
 *
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License). You may not use this file except in
 * compliance with the License.
 *
 * You can obtain a copy of the License at
 * http://www.opensource.org/licenses/cddl1 or
 * CDDLv1.0.txt file in the source code distribution.
 * See the License for the specific language governing
 * permission and limitations under the License.
 *
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted 2011 [name of copyright owner]"
 * -->

<definitions name="fake"
             targetNamespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"
             xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"
             xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-2"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <documentation>

        <!-- todo documentation -->
        <!-- todo faults -->
        <!-- todo operation options if necessary -->
        <!-- todo uid probably more complex, not only string -->

    </documentation>

    <types>
        <xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl">
            <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/public/common/common-2"
                        schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-2"/>

            <xsd:complexType name="AttributeType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="AttributesType">
                <xsd:sequence>
                    <xsd:element name="attribute" type="tns:AttributeType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SchemaType">
                <!-- todo body?? or common-2 type? -->
            </xsd:complexType>

            <xsd:complexType name="ScriptType">
                <!-- todo body?? or common-2 type? -->
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="authenticateRequest">
        <part name="objectClass" type="xsd:string"/>
        <part name="username" type="xsd:string"/>
        <part name="password" type="c:ProtectedStringType"/> <!-- todo really use protected string? -->
    </message>
    <message name="authenticateResponse">
        <part name="uid" type="xsd:string"/>    <!-- probably more complex thing in here -->
    </message>
    <message name="createRequest">
        <part name="objectClass" type="xsd:string"/>
        <part name="attributes" type="tns:AttributesType"/>
    </message>
    <message name="createResponse">
        <part name="uid" type="xsd:string"/>
    </message>
    <message name="deleteRequest">
        <part name="objectClass" type="xsd:string"/>
        <part name="uid" type="xsd:string"/>
    </message>
    <message name="resolveUsernameRequest">
        <part name="objectClass" type="xsd:string"/>
        <part name="username" type="xsd:string"/>
    </message>
    <message name="resolveUsernameResponse">
        <part name="uid" type="xsd:string"/>
    </message>
    <message name="schemaRequest"/>
    <message name="schemaResponse">
        <part name="schema" type="tns:SchemaType"/>
    </message>
    <message name="runScriptOnConnectorRequest">
        <part name="script" type="tns:ScriptType"/>
    </message>
    <message name="runScriptOnConnectorResponse">
        <part name="object" type="xsd:anyType"/>
    </message>
    <message name="runScriptOnResourceRequest">
        <part name="script" type="tns:ScriptType"/>
    </message>
    <message name="runScriptOnResourceResponse">
        <part name="object" type="xsd:anyType"/>
    </message>
    <message name="createFilterTranslatorRequest">
        <!-- todo -->
    </message>
    <message name="createFilterTranslatorResponse">
        <!-- todo -->
    </message>
    <message name="executeQueryRequest">
        <!-- todo -->
    </message>
    <message name="executeQueryResponse">
        <!-- todo -->
    </message>
    <message name="getLatestSyncTokenRequest">
        <part name="objectClass" type="xsd:string"/>
    </message>
    <message name="getLatestSyncTokenResponse">
        <part name="token" type="xsd:string"/>  <!-- todo token maybe more complex? -->
    </message>
    <message name="syncRequest">
        <!-- todo -->
    </message>
    <message name="syncResponse">
        <!-- todo -->
    </message>
    <message name="testRequest">
    </message>
    <message name="addAttributeValuesRequest">
        <!-- todo -->
    </message>
    <message name="addAttributeValuesResponse">
        <!-- todo -->
    </message>
    <message name="removeAttributeValuesRequest">
        <!-- todo -->
    </message>
    <message name="removeAttributeValuesResponse">
        <!-- todo -->
    </message>
    <message name="updateRequest">
        <!-- todo -->
    </message>
    <message name="updateResponse">
        <!-- todo -->
    </message>

    <portType name="WsdlConnectorPortType">
        <operation name="authenticate">
            <input name="authenticateInput" message="tns:authenticateRequest"/>
            <output name="authenticateOutput" message="tns:authenticateResponse"/>
        </operation>
        <operation name="create">
            <input name="createInput" message="tns:createRequest"/>
            <output name="createOutput" message="tns:createResponse"/>
        </operation>
        <operation name="delete">
            <input name="deleteInput" message="tns:deleteRequest"/>
        </operation>
        <operation name="resolveUsername">
            <input name="resolveUsernameInput" message="tns:resolveUsernameRequest"/>
            <output name="resolveUsernameOutput" message="tns:resolveUsernameResponse"/>
        </operation>
        <operation name="schema">
            <input name="schemaInput" message="tns:schemaRequest"/>
            <output name="schemaOutput" message="tns:schemaResponse"/>
        </operation>
        <operation name="runScriptOnConnector">
            <input name="runScriptOnConnectorInput" message="tns:runScriptOnConnectorRequest"/>
            <output name="runScriptOnConnectorOutput" message="tns:runScriptOnConnectorResponse"/>
        </operation>
        <operation name="runScriptOnResource">
            <input name="runScriptOnResourceInput" message="tns:runScriptOnResourceRequest"/>
            <output name="runScriptOnResourceOutput" message="tns:runScriptOnResourceResponse"/>
        </operation>
        <operation name="createFilterTranslator">
            <input name="createFilterTranslatorInput" message="tns:createFilterTranslatorRequest"/>
            <output name="createFilterTranslatorOutput" message="tns:createFilterTranslatorResponse"/>
        </operation>
        <operation name="executeQuery">
            <input name="executeQueryInput" message="tns:executeQueryRequest"/>
            <output name="executeQueryOutput" message="tns:executeQueryResponse"/>
        </operation>
        <operation name="getLatestSyncToken">
            <input name="getLatestSyncTokenInput" message="tns:getLatestSyncTokenRequest"/>
            <output name="getLatestSyncTokenOutput" message="tns:getLatestSyncTokenResponse"/>
        </operation>
        <operation name="sync">
            <input name="syncInput" message="tns:syncRequest"/>
            <output name="syncOutput" message="tns:syncResponse"/>
        </operation>
        <operation name="test">
            <input name="testInput" message="tns:testRequest"/>
        </operation>
        <operation name="addAttributeValues">
            <input name="addAttributeValuesInput" message="tns:addAttributeValuesRequest"/>
            <output name="addAttributeValuesOutput" message="tns:addAttributeValuesResponse"/>
        </operation>
        <operation name="removeAttributeValues">
            <input name="removeAttributeValuesInput" message="tns:removeAttributeValuesRequest"/>
            <output name="removeAttributeValuesOutput" message="tns:removeAttributeValuesResponse"/>
        </operation>
        <operation name="update">
            <input name="updateInput" message="tns:updateRequest"/>
            <output name="updateOutput" message="tns:updateResponse"/>
        </operation>
    </portType>

    <binding name="connectorBinding" type="tns:WsdlConnectorPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="authenticate">
            <soap:operation/>
            <input name="authenticateInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="authenticateOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="create">
            <soap:operation/>
            <input name="createInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="createOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation/>
            <input name="deleteInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
        </operation>
        <operation name="resolveUsername">
            <soap:operation/>
            <input name="resolveUsernameInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="resolveUsernameOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="schema">
            <soap:operation/>
            <input name="schemaInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>                                    Input
            <output name="schemaOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="runScriptOnConnector">
            <soap:operation/>
            <input name="runScriptOnConnectorInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="runScriptOnConnectorOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="runScriptOnResource">
            <soap:operation/>
            <input name="runScriptOnResourceInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="runScriptOnResourceOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="createFilterTranslator">
            <soap:operation/>
            <input name="createFilterTranslatorInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="createFilterTranslatorOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="executeQuery">
            <soap:operation/>
            <input name="executeQueryInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="executeQueryOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="getLatestSyncToken">
            <soap:operation/>
            <input name="getLatestSyncTokenInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="getLatestSyncTokenOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="sync">
            <soap:operation/>
            <input name="syncInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="syncOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="test">
            <soap:operation/>
            <input name="testInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
        </operation>
        <operation name="addAttributeValues">
            <soap:operation/>
            <input name="addAttributeValuesInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="addAttributeValuesOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="removeAttributeValues">
            <soap:operation/>
            <input name="removeAttributeValuesInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="removeAttributeValuesOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
        <operation name="update">
            <soap:operation/>
            <input name="updateInput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </input>
            <output name="updateOutput">
                <soap:body use="literal" namespace="http://midpoint.evolveum.com/xml/ns/public/wsdl-connector-1.wsdl"/>
            </output>
        </operation>
    </binding>
</definitions>



